@import 'libs/normalize_2.1.2.less';

@import 'less/variables.less';
@import 'less/mixins.less';
@import 'less/ngStyles.less';
@import 'less/utilities.less';
@import 'less/typography.less';
@import 'less/mainNav.less';

html, body {
	height: 100%;
	position: relative;
}

#home {
	.background-cover();
	.box-sizing();

	background-image: url('../images/background/train.jpg');
	background-position: right top;
	// position: absolute;
	// bottom: 0;
	// left: 0;
	// right: 0;
	// top: 0;
	border: 15px solid #e1e1e1;
	// .border-radius(4px;)

	h1 {
		bottom: 24px;
		color: #363636;
		font-size: 42px;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 10px;
		text-transform: lowercase;

		span {
			color: #e1e1e1;
			font-size: 42px;
		}
	}
}

#page2 {
	.background-cover();
	.box-sizing();

	background-image: url('../images/background/train.jpg');
	background-position: right top;
	// position: absolute;
	// bottom: 0;
	// left: 0;
	// right: 0;
	// top: 0;
	border: 15px solid #e1e1e1;
	// .border-radius(4px;)

	h1 {
		bottom: 24px;
		color: #363636;
		font-size: 42px;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 10px;
		text-transform: lowercase;

		span {
			color: #e1e1e1;
			font-size: 42px;
		}
	}
}